# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries (pandas, numpy etc)

In [1]:
import pandas as pd
import numpy as np

### Step 2. Run the below line of code to create a dictionary

In [2]:
raw_data={"name":['Bulbasaur','Charmander','Squirtle','Caterpie'],"evolution":['Ivysaur','Charmeleon','wartortle','metapod'],"type":['grass','fire','water','bug'],"hp":[45,39,44,45],"pokedex":['yes','no','yes','no']}

### Step 3. Assign it to a variable called pokemon and it should be a pandas Series.

In [3]:
#converting it to a dataframe
pokemon=pd.DataFrame(raw_data)
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   wartortle  water  44     yes
3    Caterpie     metapod    bug  45      no

## Step 4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

In [5]:
#changing order of columns
places = pokemon[['name','type','hp','evolution','pokedex']]
places

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   wartortle     yes
3    Caterpie    bug  45     metapod      no

### Step 5. Add another column called place, and insert places (lakes, parks, hills etc) of your choice.

In [49]:
places=['lakes','parks','hills','mountains']
pokemon['places']=places
pokemon

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         name   type  hp   evolution     places pokedex
0   Bulbasaur  grass  45     Ivysaur      lakes     yes
1  Charmander   fire  39  Charmeleon      parks      no
2    Squirtle  water  44   wartortle      hills     yes
3    Caterpie    bug  45     metapod  mountains      no

### Step 6. Display the data type of each column

In [6]:
pokemon.dtypes

name         object
evolution    object
type         object
hp            int64
pokedex      object
dtype: object