# Student Alcohol Consumption

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the datasets *student-mat* and *student-por* and merge them.

In [2]:
student_mat=pd.read_csv("C:/Users/user/Desktop/Gurgaon course/Python_homeworks/Pandas Exercises/Pandas Exercises/Exercise Data Files/Pandas Exercise Lambda Functions Files/student-mat.csv",sep=",")
student_por=pd.read_csv("C:/Users/user/Desktop/Gurgaon course/Python_homeworks/Pandas Exercises/Pandas Exercises/Exercise Data Files/Pandas Exercise Lambda Functions Files/student-por.csv",sep=",")
df=pd.concat([student_mat,student_por])
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,4,14,14,14
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,2,3,1,2,2,6,13,14,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,4,8,10,10
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,16,6,5,5
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,4,8,10,10
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,health,health,...,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,2,15,15,16
23,GP,M,16,U,LE3,T,2,2,other,other,...,5,4,4,2,4,5,0,13,13,12
24,GP,F,15,R,GT3,T,2,4,services,health,...,4,3,2,1,1,5,2,10,9,8
25,GP,F,16,U,GT3,T,2,2,services,services,...,1,2,2,1,3,5,14,6,9,8
26,GP,M,15,U,GT3,T,2,2,other,other,...,4,2,2,1,2,5,2,12,12,11
27,GP,M,15,U,GT3,T,4,2,health,services,...,2,2,4,2,4,1,4,15,16,15
28,GP,M,16,U,LE3,A,3,4,services,other,...,5,3,3,1,1,5,4,11,11,11
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,16,10,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,MS,F,18,U,GT3,T,3,3,services,services,...,4,3,2,1,3,3,6,13,12,13
620,MS,F,17,U,LE3,T,4,4,at_home,at_home,...,2,3,4,1,1,1,4,15,14,15
621,MS,F,17,R,GT3,T,1,2,other,services,...,3,2,2,1,2,3,0,13,13,13
622,MS,M,18,R,GT3,T,1,3,at_home,other,...,3,3,4,2,4,3,0,8,10,9
623,MS,M,18,U,LE3,T,4,4,teacher,services,...,4,2,2,2,2,5,0,15,16,16
624,MS,F,17,R,GT3,T,1,1,other,services,...,5,2,1,1,2,1,0,8,8,9
625,MS,F,18,U,GT3,T,2,3,at_home,services,...,5,2,3,1,2,4,0,10,10,10
626,MS,F,18,R,GT3,T,4,4,other,teacher,...,3,2,2,4,2,5,0,7,5,0
627,MS,M,18,R,LE3,T,1,2,at_home,services,...,4,3,3,2,3,3,3,9,10,10
628,MS,F,17,U,GT3,T,2,2,other,at_home,...,3,4,3,1,1,3,8,10,11,12
629,MS,F,17,R,GT3,T,1,2,other,other,...,3,5,5,1,3,1,4,7,8,9
630,MS,F,18,R,LE3,T,4,4,other,other,...,5,4,4,1,1,1,0,15,17,17
631,MS,F,18,R,GT3,T,1,1,other,other,...,4,3,2,1,2,4,4,10,11,12
632,MS,F,19,R,GT3,T,1,1,at_home,other,...,4,3,3,1,1,3,4,7,8,9
633,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,1,13,14,14
634,MS,F,18,U,GT3,T,3,3,other,other,...,4,1,3,1,2,1,1,16,16,16
635,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,10,8,9,9
636,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,17,18,19
637,MS,M,18,R,GT3,T,2,1,other,other,...,4,4,3,1,3,5,0,7,7,0
638,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,4,14,15,16
639,MS,M,19,R,GT3,T,1,1,other,services,...,4,3,2,1,3,5,0,5,8,0
640,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,0,7,7,0
641,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,0,14,17,15
642,MS,F,17,U,GT3,T,4,3,teacher,other,...,5,5,4,1,1,1,0,6,9,11
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,4,7,9,10
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

### Step 3. Assign it to a variable called df.

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [3]:
df=df.loc[:, 'school':'guardian']
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation,mother
11,GP,F,15,U,GT3,T,2,1,services,other,reputation,father
12,GP,M,15,U,LE3,T,4,4,health,services,course,father
13,GP,M,15,U,GT3,T,4,3,teacher,other,course,mother
14,GP,M,15,U,GT3,A,2,2,other,other,home,other
15,GP,F,16,U,GT3,T,4,4,health,other,home,mother
16,GP,F,16,U,GT3,T,4,4,services,services,reputation,mother
17,GP,F,16,U,GT3,T,3,3,other,other,reputation,mother
18,GP,M,17,U,GT3,T,3,2,services,services,course,mother
19,GP,M,16,U,LE3,T,4,3,health,other,home,father
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation,mother
21,GP,M,15,U,GT3,T,4,4,health,health,other,father
22,GP,M,16,U,LE3,T,4,2,teacher,other,course,mother
23,GP,M,16,U,LE3,T,2,2,other,other,reputation,mother
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother
25,GP,F,16,U,GT3,T,2,2,services,services,home,mother
26,GP,M,15,U,GT3,T,2,2,other,other,home,mother
27,GP,M,15,U,GT3,T,4,2,health,services,other,mother
28,GP,M,16,U,LE3,A,3,4,services,other,home,mother
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,home,mother
...,...,...,...,...,...,...,...,...,...,...,...,...
619,MS,F,18,U,GT3,T,3,3,services,services,other,mother
620,MS,F,17,U,LE3,T,4,4,at_home,at_home,course,mother
621,MS,F,17,R,GT3,T,1,2,other,services,course,father
622,MS,M,18,R,GT3,T,1,3,at_home,other,course,mother
623,MS,M,18,U,LE3,T,4,4,teacher,services,other,mother
624,MS,F,17,R,GT3,T,1,1,other,services,reputation,mother
625,MS,F,18,U,GT3,T,2,3,at_home,services,course,father
626,MS,F,18,R,GT3,T,4,4,other,teacher,other,father
627,MS,M,18,R,LE3,T,1,2,at_home,services,other,father
628,MS,F,17,U,GT3,T,2,2,other,at_home,home,mother
629,MS,F,17,R,GT3,T,1,2,other,other,course,mother
630,MS,F,18,R,LE3,T,4,4,other,other,reputation,mother
631,MS,F,18,R,GT3,T,1,1,other,other,home,mother
632,MS,F,19,R,GT3,T,1,1,at_home,other,course,other
633,MS,F,18,R,LE3,T,4,4,teacher,services,course,mother
634,MS,F,18,U,GT3,T,3,3,other,other,home,mother
635,MS,F,17,R,GT3,T,3,1,at_home,other,reputation,mother
636,MS,M,18,U,GT3,T,4,4,teacher,teacher,home,father
637,MS,M,18,R,GT3,T,2,1,other,other,other,mother
638,MS,M,17,U,GT3,T,2,3,other,services,home,father
639,MS,M,19,R,GT3,T,1,1,other,services,other,mother
640,MS,M,18,R,GT3,T,4,2,other,other,home,father
641,MS,F,18,R,GT3,T,2,2,at_home,other,other,mother
642,MS,F,17,U,GT3,T,4,3,teacher,other,other,mother
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation,mother
644,MS,F,19,R,GT3,T,2,3,services,other,course,mother
645,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother
646,MS,F,18,U,GT3,T,1,1,other,other,course,mother
647,MS,M,17,U,LE3,T,3,1,services,services,course,mother
648,MS,M,18,R,LE3,T,3,2,services,other,course,mother

### Step 5. Create a lambda function that captalize strings.

In [4]:
df.applymap(lambda s:s.upper() if type(s) == str else s)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,COURSE,MOTHER
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,COURSE,FATHER
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,OTHER,MOTHER
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,HOME,MOTHER
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,HOME,FATHER
5,GP,M,16,U,LE3,T,4,3,SERVICES,OTHER,REPUTATION,MOTHER
6,GP,M,16,U,LE3,T,2,2,OTHER,OTHER,HOME,MOTHER
7,GP,F,17,U,GT3,A,4,4,OTHER,TEACHER,HOME,MOTHER
8,GP,M,15,U,LE3,A,3,2,SERVICES,OTHER,HOME,MOTHER
9,GP,M,15,U,GT3,T,3,4,OTHER,OTHER,HOME,MOTHER
10,GP,F,15,U,GT3,T,4,4,TEACHER,HEALTH,REPUTATION,MOTHER
11,GP,F,15,U,GT3,T,2,1,SERVICES,OTHER,REPUTATION,FATHER
12,GP,M,15,U,LE3,T,4,4,HEALTH,SERVICES,COURSE,FATHER
13,GP,M,15,U,GT3,T,4,3,TEACHER,OTHER,COURSE,MOTHER
14,GP,M,15,U,GT3,A,2,2,OTHER,OTHER,HOME,OTHER
15,GP,F,16,U,GT3,T,4,4,HEALTH,OTHER,HOME,MOTHER
16,GP,F,16,U,GT3,T,4,4,SERVICES,SERVICES,REPUTATION,MOTHER
17,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,REPUTATION,MOTHER
18,GP,M,17,U,GT3,T,3,2,SERVICES,SERVICES,COURSE,MOTHER
19,GP,M,16,U,LE3,T,4,3,HEALTH,OTHER,HOME,FATHER
20,GP,M,15,U,GT3,T,4,3,TEACHER,OTHER,REPUTATION,MOTHER
21,GP,M,15,U,GT3,T,4,4,HEALTH,HEALTH,OTHER,FATHER
22,GP,M,16,U,LE3,T,4,2,TEACHER,OTHER,COURSE,MOTHER
23,GP,M,16,U,LE3,T,2,2,OTHER,OTHER,REPUTATION,MOTHER
24,GP,F,15,R,GT3,T,2,4,SERVICES,HEALTH,COURSE,MOTHER
25,GP,F,16,U,GT3,T,2,2,SERVICES,SERVICES,HOME,MOTHER
26,GP,M,15,U,GT3,T,2,2,OTHER,OTHER,HOME,MOTHER
27,GP,M,15,U,GT3,T,4,2,HEALTH,SERVICES,OTHER,MOTHER
28,GP,M,16,U,LE3,A,3,4,SERVICES,OTHER,HOME,MOTHER
29,GP,M,16,U,GT3,T,4,4,TEACHER,TEACHER,HOME,MOTHER
...,...,...,...,...,...,...,...,...,...,...,...,...
619,MS,F,18,U,GT3,T,3,3,SERVICES,SERVICES,OTHER,MOTHER
620,MS,F,17,U,LE3,T,4,4,AT_HOME,AT_HOME,COURSE,MOTHER
621,MS,F,17,R,GT3,T,1,2,OTHER,SERVICES,COURSE,FATHER
622,MS,M,18,R,GT3,T,1,3,AT_HOME,OTHER,COURSE,MOTHER
623,MS,M,18,U,LE3,T,4,4,TEACHER,SERVICES,OTHER,MOTHER
624,MS,F,17,R,GT3,T,1,1,OTHER,SERVICES,REPUTATION,MOTHER
625,MS,F,18,U,GT3,T,2,3,AT_HOME,SERVICES,COURSE,FATHER
626,MS,F,18,R,GT3,T,4,4,OTHER,TEACHER,OTHER,FATHER
627,MS,M,18,R,LE3,T,1,2,AT_HOME,SERVICES,OTHER,FATHER
628,MS,F,17,U,GT3,T,2,2,OTHER,AT_HOME,HOME,MOTHER
629,MS,F,17,R,GT3,T,1,2,OTHER,OTHER,COURSE,MOTHER
630,MS,F,18,R,LE3,T,4,4,OTHER,OTHER,REPUTATION,MOTHER
631,MS,F,18,R,GT3,T,1,1,OTHER,OTHER,HOME,MOTHER
632,MS,F,19,R,GT3,T,1,1,AT_HOME,OTHER,COURSE,OTHER
633,MS,F,18,R,LE3,T,4,4,TEACHER,SERVICES,COURSE,MOTHER
634,MS,F,18,U,GT3,T,3,3,OTHER,OTHER,HOME,MOTHER
635,MS,F,17,R,GT3,T,3,1,AT_HOME,OTHER,REPUTATION,MOTHER
636,MS,M,18,U,GT3,T,4,4,TEACHER,TEACHER,HOME,FATHER
637,MS,M,18,R,GT3,T,2,1,OTHER,OTHER,OTHER,MOTHER
638,MS,M,17,U,GT3,T,2,3,OTHER,SERVICES,HOME,FATHER
639,MS,M,19,R,GT3,T,1,1,OTHER,SERVICES,OTHER,MOTHER
640,MS,M,18,R,GT3,T,4,2,OTHER,OTHER,HOME,FATHER
641,MS,F,18,R,GT3,T,2,2,AT_HOME,OTHER,OTHER,MOTHER
642,MS,F,17,U,GT3,T,4,3,TEACHER,OTHER,OTHER,MOTHER
643,MS,F,18,R,GT3,T,4,4,TEACHER,AT_HOME,REPUTATION,MOTHER
644,MS,F,19,R,GT3,T,2,3,SERVICES,OTHER,COURSE,MOTHER
645,MS,F,18,U,LE3,T,3,1,TEACHER,SERVICES,COURSE,MOTHER
646,MS,F,18,U,GT3,T,1,1,OTHER,OTHER,COURSE,MOTHER
647,MS,M,17,U,LE3,T,3,1,SERVICES,SERVICES,COURSE,MOTHER
648,MS,M,18,R,LE3,T,3,2,SERVICES,OTHER,COURSE,MOTHER

### Step 6. Capitalize both Mjob and Fjob

In [5]:
df.loc[:,'Mjob':'Fjob'].apply(lambda x: x.str.upper())

         Mjob      Fjob
0     AT_HOME   TEACHER
1     AT_HOME     OTHER
2     AT_HOME     OTHER
3      HEALTH  SERVICES
4       OTHER     OTHER
5    SERVICES     OTHER
6       OTHER     OTHER
7       OTHER   TEACHER
8    SERVICES     OTHER
9       OTHER     OTHER
10    TEACHER    HEALTH
11   SERVICES     OTHER
12     HEALTH  SERVICES
13    TEACHER     OTHER
14      OTHER     OTHER
15     HEALTH     OTHER
16   SERVICES  SERVICES
17      OTHER     OTHER
18   SERVICES  SERVICES
19     HEALTH     OTHER
20    TEACHER     OTHER
21     HEALTH    HEALTH
22    TEACHER     OTHER
23      OTHER     OTHER
24   SERVICES    HEALTH
25   SERVICES  SERVICES
26      OTHER     OTHER
27     HEALTH  SERVICES
28   SERVICES     OTHER
29    TEACHER   TEACHER
..        ...       ...
619  SERVICES  SERVICES
620   AT_HOME   AT_HOME
621     OTHER  SERVICES
622   AT_HOME     OTHER
623   TEACHER  SERVICES
624     OTHER  SERVICES
625   AT_HOME  SERVICES
626     OTHER   TEACHER
627   AT_HOME  SERVICES
628     OTHER   AT_HOME
629     OTHER     OTHER
630     OTHER     OTHER
631     OTHER     OTHER
632   AT_HOME     OTHER
633   TEACHER  SERVICES
634     OTHER     OTHER
635   AT_HOME     OTHER
636   TEACHER   TEACHER
637     OTHER     OTHER
638     OTHER  SERVICES
639     OTHER  SERVICES
640     OTHER     OTHER
641   AT_HOME     OTHER
642   TEACHER     OTHER
643   TEACHER   AT_HOME
644  SERVICES     OTHER
645   TEACHER  SERVICES
646     OTHER     OTHER
647  SERVICES  SERVICES
648  SERVICES     OTHER

[1044 rows x 2 columns]

### Step 7. Print the last elements of the data set.

In [6]:
last_elements=df.iloc[-1:]
last_elements

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
648,MS,M,18,R,LE3,T,3,2,services,other,course,mother

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [7]:
df.loc[:,'Mjob':'Fjob'].apply(lambda x: x.str.upper())

         Mjob      Fjob
0     AT_HOME   TEACHER
1     AT_HOME     OTHER
2     AT_HOME     OTHER
3      HEALTH  SERVICES
4       OTHER     OTHER
5    SERVICES     OTHER
6       OTHER     OTHER
7       OTHER   TEACHER
8    SERVICES     OTHER
9       OTHER     OTHER
10    TEACHER    HEALTH
11   SERVICES     OTHER
12     HEALTH  SERVICES
13    TEACHER     OTHER
14      OTHER     OTHER
15     HEALTH     OTHER
16   SERVICES  SERVICES
17      OTHER     OTHER
18   SERVICES  SERVICES
19     HEALTH     OTHER
20    TEACHER     OTHER
21     HEALTH    HEALTH
22    TEACHER     OTHER
23      OTHER     OTHER
24   SERVICES    HEALTH
25   SERVICES  SERVICES
26      OTHER     OTHER
27     HEALTH  SERVICES
28   SERVICES     OTHER
29    TEACHER   TEACHER
..        ...       ...
619  SERVICES  SERVICES
620   AT_HOME   AT_HOME
621     OTHER  SERVICES
622   AT_HOME     OTHER
623   TEACHER  SERVICES
624     OTHER  SERVICES
625   AT_HOME  SERVICES
626     OTHER   TEACHER
627   AT_HOME  SERVICES
628     OTHER   AT_HOME
629     OTHER     OTHER
630     OTHER     OTHER
631     OTHER     OTHER
632   AT_HOME     OTHER
633   TEACHER  SERVICES
634     OTHER     OTHER
635   AT_HOME     OTHER
636   TEACHER   TEACHER
637     OTHER     OTHER
638     OTHER  SERVICES
639     OTHER  SERVICES
640     OTHER     OTHER
641   AT_HOME     OTHER
642   TEACHER     OTHER
643   TEACHER   AT_HOME
644  SERVICES     OTHER
645   TEACHER  SERVICES
646     OTHER     OTHER
647  SERVICES  SERVICES
648  SERVICES     OTHER

[1044 rows x 2 columns]

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [8]:
def majority(x):
    if x>=18:
        return 'True'
    else:
        return 'False'


df["legal_drinker"] = df["age"].apply(majority)
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,False
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,False
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother,False
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother,False
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother,False
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother,False
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother,False
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation,mother,False
11,GP,F,15,U,GT3,T,2,1,services,other,reputation,father,False
12,GP,M,15,U,LE3,T,4,4,health,services,course,father,False
13,GP,M,15,U,GT3,T,4,3,teacher,other,course,mother,False
14,GP,M,15,U,GT3,A,2,2,other,other,home,other,False
15,GP,F,16,U,GT3,T,4,4,health,other,home,mother,False
16,GP,F,16,U,GT3,T,4,4,services,services,reputation,mother,False
17,GP,F,16,U,GT3,T,3,3,other,other,reputation,mother,False
18,GP,M,17,U,GT3,T,3,2,services,services,course,mother,False
19,GP,M,16,U,LE3,T,4,3,health,other,home,father,False
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation,mother,False
21,GP,M,15,U,GT3,T,4,4,health,health,other,father,False
22,GP,M,16,U,LE3,T,4,2,teacher,other,course,mother,False
23,GP,M,16,U,LE3,T,2,2,other,other,reputation,mother,False
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother,False
25,GP,F,16,U,GT3,T,2,2,services,services,home,mother,False
26,GP,M,15,U,GT3,T,2,2,other,other,home,mother,False
27,GP,M,15,U,GT3,T,4,2,health,services,other,mother,False
28,GP,M,16,U,LE3,A,3,4,services,other,home,mother,False
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,home,mother,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,MS,F,18,U,GT3,T,3,3,services,services,other,mother,True
620,MS,F,17,U,LE3,T,4,4,at_home,at_home,course,mother,False
621,MS,F,17,R,GT3,T,1,2,other,services,course,father,False
622,MS,M,18,R,GT3,T,1,3,at_home,other,course,mother,True
623,MS,M,18,U,LE3,T,4,4,teacher,services,other,mother,True
624,MS,F,17,R,GT3,T,1,1,other,services,reputation,mother,False
625,MS,F,18,U,GT3,T,2,3,at_home,services,course,father,True
626,MS,F,18,R,GT3,T,4,4,other,teacher,other,father,True
627,MS,M,18,R,LE3,T,1,2,at_home,services,other,father,True
628,MS,F,17,U,GT3,T,2,2,other,at_home,home,mother,False
629,MS,F,17,R,GT3,T,1,2,other,other,course,mother,False
630,MS,F,18,R,LE3,T,4,4,other,other,reputation,mother,True
631,MS,F,18,R,GT3,T,1,1,other,other,home,mother,True
632,MS,F,19,R,GT3,T,1,1,at_home,other,course,other,True
633,MS,F,18,R,LE3,T,4,4,teacher,services,course,mother,True
634,MS,F,18,U,GT3,T,3,3,other,other,home,mother,True
635,MS,F,17,R,GT3,T,3,1,at_home,other,reputation,mother,False
636,MS,M,18,U,GT3,T,4,4,teacher,teacher,home,father,True
637,MS,M,18,R,GT3,T,2,1,other,other,other,mother,True
638,MS,M,17,U,GT3,T,2,3,other,services,home,father,False
639,MS,M,19,R,GT3,T,1,1,other,services,other,mother,True
640,MS,M,18,R,GT3,T,4,2,other,other,home,father,True
641,MS,F,18,R,GT3,T,2,2,at_home,other,other,mother,True
642,MS,F,17,U,GT3,T,4,3,teacher,other,other,mother,False
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation,mother,True
644,MS,F,19,R,GT3,T,2,3,services,other,course,mother,True
645,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother,True
646,MS,F,18,U,GT3,T,1,1,other,other,course,mother,True
647,MS,M,17,U,LE3,T,3,1,services,services,course,mother,False
648,MS,M,18,R,LE3,T,3,2,services,other,course,mother,True

### Step 10. Multiply every number of the dataset by 10.

In [9]:
df.select_dtypes(include=['int']) * 10
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,False
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,False
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother,False
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother,False
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother,False
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother,False
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother,False
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation,mother,False
11,GP,F,15,U,GT3,T,2,1,services,other,reputation,father,False
12,GP,M,15,U,LE3,T,4,4,health,services,course,father,False
13,GP,M,15,U,GT3,T,4,3,teacher,other,course,mother,False
14,GP,M,15,U,GT3,A,2,2,other,other,home,other,False
15,GP,F,16,U,GT3,T,4,4,health,other,home,mother,False
16,GP,F,16,U,GT3,T,4,4,services,services,reputation,mother,False
17,GP,F,16,U,GT3,T,3,3,other,other,reputation,mother,False
18,GP,M,17,U,GT3,T,3,2,services,services,course,mother,False
19,GP,M,16,U,LE3,T,4,3,health,other,home,father,False
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation,mother,False
21,GP,M,15,U,GT3,T,4,4,health,health,other,father,False
22,GP,M,16,U,LE3,T,4,2,teacher,other,course,mother,False
23,GP,M,16,U,LE3,T,2,2,other,other,reputation,mother,False
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother,False
25,GP,F,16,U,GT3,T,2,2,services,services,home,mother,False
26,GP,M,15,U,GT3,T,2,2,other,other,home,mother,False
27,GP,M,15,U,GT3,T,4,2,health,services,other,mother,False
28,GP,M,16,U,LE3,A,3,4,services,other,home,mother,False
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,home,mother,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,MS,F,18,U,GT3,T,3,3,services,services,other,mother,True
620,MS,F,17,U,LE3,T,4,4,at_home,at_home,course,mother,False
621,MS,F,17,R,GT3,T,1,2,other,services,course,father,False
622,MS,M,18,R,GT3,T,1,3,at_home,other,course,mother,True
623,MS,M,18,U,LE3,T,4,4,teacher,services,other,mother,True
624,MS,F,17,R,GT3,T,1,1,other,services,reputation,mother,False
625,MS,F,18,U,GT3,T,2,3,at_home,services,course,father,True
626,MS,F,18,R,GT3,T,4,4,other,teacher,other,father,True
627,MS,M,18,R,LE3,T,1,2,at_home,services,other,father,True
628,MS,F,17,U,GT3,T,2,2,other,at_home,home,mother,False
629,MS,F,17,R,GT3,T,1,2,other,other,course,mother,False
630,MS,F,18,R,LE3,T,4,4,other,other,reputation,mother,True
631,MS,F,18,R,GT3,T,1,1,other,other,home,mother,True
632,MS,F,19,R,GT3,T,1,1,at_home,other,course,other,True
633,MS,F,18,R,LE3,T,4,4,teacher,services,course,mother,True
634,MS,F,18,U,GT3,T,3,3,other,other,home,mother,True
635,MS,F,17,R,GT3,T,3,1,at_home,other,reputation,mother,False
636,MS,M,18,U,GT3,T,4,4,teacher,teacher,home,father,True
637,MS,M,18,R,GT3,T,2,1,other,other,other,mother,True
638,MS,M,17,U,GT3,T,2,3,other,services,home,father,False
639,MS,M,19,R,GT3,T,1,1,other,services,other,mother,True
640,MS,M,18,R,GT3,T,4,2,other,other,home,father,True
641,MS,F,18,R,GT3,T,2,2,at_home,other,other,mother,True
642,MS,F,17,U,GT3,T,4,3,teacher,other,other,mother,False
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation,mother,True
644,MS,F,19,R,GT3,T,2,3,services,other,course,mother,True
645,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother,True
646,MS,F,18,U,GT3,T,1,1,other,other,course,mother,True
647,MS,M,17,U,LE3,T,3,1,services,services,course,mother,False
648,MS,M,18,R,LE3,T,3,2,services,other,course,mother,True